<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Rent_a_car_v1.Properties.Settings.RENT_A_CARConnectionString"
            connectionString="Data Source=TALHA;Initial Catalog=RENT_A_CAR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Rent_a_car_v1.Properties.Settings.arac_kiralamaConnectionString"
            connectionString="Data Source=TALHA;Initial Catalog=arac_kiralama;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>